{% extends 'srtextile/basic.html' %}
{% block title %}SR Textile-Fabric Guide{% endblock %}

{% block css %}

.col-md-3
{
display: inline-block;
margin-left:-4px;
}
.card{
box-shadow: 0 10px 20px rgba(255,255,255,.40), 0 10px 20px rgba(11,10,10,.06);
}
.card:hover{
transform: scale(1.05);
box-shadow: 0 20px 20px rgba(0,22,0,.12), 0 4px 8px rgba(11,10,10,.06);
}

.carousel-indicators .active {
background-color: #1e1e1e;
}


.carousel-indicators li {
background-color: #1e1e1e;
}

body .carousel-indicators{
bottom: -50px;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
background-color: black;
}

.col-md-3 img {
width: 15.87vw;
height: 20rem;
}

.btn-primary {
color: #343a40;
background-color: #929da0;
border-color: #343a40;
}
.btn-primary:hover {
color: #fff;
background-color: #343a40;
border-color: #343a40;
}

body .no-padding{
padding-left: 0,
padding-right: 0;
}
#garment-guide{
padding: 50px 60px 60px 60px;
}
.card-img-top{
height: 15rem;
object-fit: contain;
}
#clients{
padding: 60px 60px 60px 60px;
}
h2{
text-shadow: 0 2px 20px rgba(255,255,255,.40), 0 10px 20px rgba(11,10,10,.06);
}

{% endblock %}


{% block body %}
{% load static %}

<div class="container ">
    <div class="row my-5" >
        <div class="col-md-12 text-center pt-3"><h2 style="color:#212529" class="pt-5"><b>Fabric Guide</b></h2></div>
        <div class="col-md-12 text-center"><hr class="ribbon mt-0 mb-5 mx-auto" width="8%" style="border:3px solid #e59f18;"></div>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img src="{% static 'srtextile/fabric-images/general-workwear.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <h3 style="text-align: left;">GENERAL WORKWEAR</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton twill 3/1, Reactive Dyed 60º C Fast color OR Vat Dyed 90º C fast color, Mercerized &amp; Sanforized (Pre-Shrinkage) Fabric made of a special twill weave which ensure outstanding resistance to abrasion and shrinkage. Its comfort and ability to let the skin transpire some from the 100% natural five composition. Its can be either water-washed and a maximum temperature of 85º C or and dry-cleaned, keeping its color and dimension at each washing
                <br>
                <br>
                65% Polyester 35% Cotton twill 2/1; Long lasting fabric which ensures color stability, washing and abrasiob resistance. Its can me be either washed at a maximum temperature of 40º C or dry-cleaned, keeping color during time.
            </p>
        </div>



        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/teflon.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <h3 style="; text-align: left;">SPECIAL FINISH / FABRIC PROTECTOR</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton twill 3/1, Reactive Dyed 60º C Fast color OR Vat Dyed 90º C fast color, Mercerized &amp; Sanforized (Pre-Shrinkage) Fabric made of a special twill weave which ensure outstanding resistance to abrasion and shrinkage. Its comfort and ability to let the skin transpire some from the 100% natural five composition. Its can be either water-washed and a maximum temperature of 85º C or and dry-cleaned, keeping its color and dimension at each washing
                <br>
                <br>
                65% Polyester 35% Cotton twill 2/1; Long lasting fabric which ensures color stability, washing and abrasiob resistance. Its can me be either washed at a maximum temperature of 40º C or dry-cleaned, keeping color during time.
            </p>
            <div style="clear: both"></div>


        </div>


        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/flame-tetartdant.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 12px;">
            <h3 style=" text-align: left;">FLAME RETARTDANT</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton, 100% Comfort, 100% Flame-Resistant,<br>
                EN-11611, 11612, (S EN-532, EN-533, EN-469, EN-470-1)
                <br>
                <br>
                "FR" Flame Retardant Cotton Garments offer unbeatable protection for foundries, flame cutting and welding and electric utilities and chemical, oil, gas and petrochemical industries
                <br>
                FR-COTTON apparel is permanently treated to guarantee flame resistance for the life of garments
            </p>
        </div>



        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/flame-plus.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 6px; padding-bottom: 9px;">
            <h3 style=" text-align: left;">FLAME RETARTDANT PLUS ANTISTATIC</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                98% Cotton 2% Antistatic, Flame-Resistant plus Antistatic carbon Nega-State(R)<br>
                EN-11611, 11612, 1149-3 (suspended standards EN-531, EN-469, EN-470-1)
                <br>
                <br>
                "FR" Flame Retardant + Antistatic Carbon fabric are combination of Cotton and Antistatic Nega-State carbon yarn P190 which has been designed to provide optimum antistatic protection Garments offer unbeatable protection in ground and undergrouned, specially usage electric utilities and chemical, oil, gas and petrochemical industries<br>
                FR-COTTON+Antistatic apparel is permanently treated to guarantee flame resistance for the life of garments.

            </p>
        </div>


        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/nomex.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 6px; padding-bottom: 11px;">
            <h3 style=" text-align: left;">DuPont Nomex®</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                NOMEX IIIA by DuPont (93% Nomex Aramid, 5%Kelvar, 2% P140 Antistatic carbon)<br>
                LIGHT WEIGHT. BREATHABLE. INHERENTLY FLAME-RESISTANT.<br>
                EN-11611, 11612, 1149-3 (suspended standards EN-531, EN-532, EN-469,  EN-470-1)<br>
                At DuPont, we believe the standard for safety should always be a higher standard.
                So we engineered Nomex® IIIA to help give workers dependable protection against fire hazards.

            </p>
        </div>

        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/hospital.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 12px;">
            <h3 style=" text-align: left;">HOSPITAL WEAR</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton twill 3/1, Reactive Dyed 60 ºC fast color OR Vat Dyed 90º C fast color, Mercerized &amp; Sanforized (pre-shrinkage) Fabric made of a special twill weave which ensure outstanding resistance to abrasion and shrinkage. Its comfort and ability to let the skin transpire come from the 100% natural fibre composition. Its can be either water-washed at a maximum temperature of 85 ºC or and dry-cleaned, keeping its color and dimension at each washing
                <br>
                <br>
                65% Polyester 35% Cotton twill 2/1, Long lasting fabric which ensures color stability, washing and abrasiob resistance. Its can me be either washed at a maximum temperature of 40ºC or dry-cleaned, keeping color during time.
            </p>
        </div>


        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/kitchenwear.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 9px; padding-bottom: 13px;">
            <h3 style=" text-align: left;">KITCHEN WEAR</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton twill 3/1, Industrial wash with chorine text 90ºC fast color, Mercerized &amp; Sanforized (pre-shrinkage) Fabric made of a special twill weave which ensure outstanding resistance to abrasion and shrinkage. Its comfort and ability to let the skin transpire come from the 100% natural fibre composition. Its can be either water-washed at a maximum temperature of 85ºC or and dry-cleaned, keeping its color and dimension at each washing with optional antibacterial special finish to wash germs 65% Polyester 35% Cotton twill 2/1, Long lasting fabric which ensures color stability, washing and abrasiob resistance. Its can me be either washed at a maximum temperature of 40ºC or dry-cleaned, keeping color during time with Antibacterial special finish to wash germ
            </p>
        </div>

        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 8px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/winter.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 8px; padding-bottom: 9px;">
            <h3 style=" text-align: left;">WINTER &amp; RAIN CLOTHING</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                External Material: 100% Nylon PU Coated / Rubber Coated Parachute Shower / Water Proof<br>
                Padding material: Polyester Wadding 100-Germs, 150-Germs, 200-Germs, Internal material: Slik Lining / Self Fabric 65% Polyester 35% Cotton twill 2/1, Long lasting fabric which ensures color stability, washing and abrasion resistance.<br>
                Special finish water replant finish / shower proof.<br>
                EN 342:2004 Performance of clothing ensembles (i.e. two piece or coveralls) against environment characterized by the combination of cold, humidity &amp; wind at air temperature below-20ºC specific lining and special technical devices allow the garments to breathe and at the same time to keep the user warm

            </p>
        </div>


        <div style="clear: both"></div>
        <br>

        <div class="col-sm-2" style="background-image: url('{% static 'srtextile/fabric-images/fabricbg.jpg'%}'); border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 10px; padding-bottom: 10px;">
            <img class="img-responsive displayed animated wow zoomIn" src="{% static 'srtextile/fabric-images/hivisiable.png'%}" alt="">
        </div>

        <div class="col-sm-10" style="background-color: #FFEBC7; border-top: 6px orange solid; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 1px; padding-bottom: 1px;">
            <h3 style=" text-align: left;">HI-VISIBILITY</h3>
        </div>
        <div style="clear: both"></div>
        <div class="col-sm-12" style="background-color: #FFffff; border-left: 1px #FE9F0F solid; border-right: 1px #FE9F0F solid; border-bottom: 1px #FE9F0F solid; padding-top: 5px; padding-bottom: 8px;">
            <p>
                100% Cotton, 80% Polyester 35% Cotton / 100% Cotton<br>
                Hi Visibility fabric EN-471 standards tasks with a hi-vis requirement traffic, ecurity, event marshaling, driving, construction, road works, wet weather task, we are using 3M Scothlite tape on buyer requirements<br>
                EN 471:2003 Standards specifies requirements of protective clothing capable of signaling the user's presence visually, intended to provide conspicuity of the user in hazardous situations under any light condition by day and under illumination by vehicle headlights in the dark. Performance requirements are included for the fluorescence and retroreflection as well for the minimum areas and for the disposition of the material in protective clothing .
            </p>
            <div style="clear: both"></div>
        </div>


    </div>
</div>
{% endblock %}